<div id="sidebar" class="clear">
  <div id="get_started">
    <h2>Get Started</h2>
    <ul class="clear">
      <li><a class="btn" href="/import">Import Contacts</a></li>
      <li><a class="btn" href="/new">Add your first trip</a></li>
    </ul>
  </div><!-- // getting_started -->
  
  <div id="your_trips">
    <h2>Your Trips</h2>
    <ul>
      <li><a class="trip_name" href=""><em class="icon red active"></em> <span>Hawaii - Family Vacation</span></a><a class="trip_menu active" href=""><em class="icon"></em></a> <div class="active tripMenu"><a href="">Edit this trip</a><span class="colors"></span></div></li>
      <li><a class="trip_name" href=""><em class="icon red"></em> <span>Hawaii - Family Vacation</span></a><a class="trip_menu" href=""><em class="icon"></em></a> <div class="tripMenu"><a href="">Edit this trip</a><span class="colors"></span></div></li>
      <li><a class="trip_name" href=""><em class="icon red"></em> <span>Hawaii - Family Vacation</span></a><a class="trip_menu" href=""><em class="icon"></em></a> <div class="tripMenu"><a href="">Edit this trip</a><span class="colors"></span></div></li>
      <li><a class="trip_name" href=""><em class="icon red"></em> <span>Hawaii - Family Vacation</span></a><a class="trip_menu" href=""><em class="icon"></em></a> <div class="tripMenu"><a href="">Edit this trip</a><span class="colors"></span></div></li>
      <li><a class="trip_name" href=""><em class="icon red"></em> <span>Hawaii - Family Vacation</span></a><a class="trip_menu" href=""><em class="icon"></em></a> <div class="tripMenu"><a href="">Edit this trip</a><span class="colors"></span></div></li>
      <li><a class="trip_name" href=""><em class="icon red"></em> <span>Hawaii - Family Vacation</span></a><a class="trip_menu" href=""><em class="icon"></em></a> <div class="tripMenu"><a href="">Edit this trip</a><span class="colors"></span></div></li>
      <li><a class="trip_name" href=""><em class="icon red"></em> <span>Hawaii - Family Vacation</span></a><a class="trip_menu" href=""><em class="icon"></em></a> <div class="tripMenu"><a href="">Edit this trip</a><span class="colors"></span></div></li>
    </ul>
  </div><!-- // your_trips -->
  
  <div id="mini_cals">
    <div id="mini_arrows">
      <a id="mini_next" href=""></a>
      <a id="mini_prev" href=""></a>
    </div><!-- // mini_arrows -->
    <h2>Mini Calendars</h2>
      <div class="cal"></div>
      <div class="cal"></div>
      <div class="cal"></div>
      <div class="cal"></div>
  </div><!-- // mini_cals -->
</div><!-- // sidebar -->

<div id="maincol">
  <div id="calendar_container">
    <h1>Calendar Goes Here</h1>
    <h2>Google API FTW</h2>
  </div><!-- // calendar_container -->
</div><!-- // maincol -->