<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <title>Triplancer.com</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Language" content="en-us" />
  <link href="/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body class="<%= style %>" id="<%= body %>">
  <div id="header" class="clear">
    <h1><a href="">Triplancer</a></h1>
    <ul id="top_nav">
      <li id="settings"><a href="">Settings</a></li>
      <li id="manage_contacts"><a href=""><em class="icon"></em> Manage Contacts</a></li>
      <li id="add_newtrip"><a href==""><em class="icon"></em> Add a new trip</a></li>
    </ul><!-- // top_nav -->
  </div><!-- // header -->
  <div id="container" class="clear">
    <%= yield %>
  </div><!-- // clear -->
  <div id="footer">
    <p id="copy">&copy; 2011 Triplancer.com</p>
    <ul>
      <li><a href="">Terms of Service</a></li>
      <li><a href="">Privacy Policy</a></li>
      <li><a href="">Support</a></li>
    </ul>
    <a id="graphyte_prod" href="http://graphyte.co">A Graphyte production</a>
  </div><!-- // footer -->
</body>
</html>
