<div id="maincol">
  <a class="btn" id="import_contacts" style="margin: 0 0 10px 0;" href="/import">Import Contacts</a>
  <h1>Manage Contacts</h1>
  <table>
    <tr>
      <td class="check"><input type="checkbox" /></td>
      <td class="name">Matt Johnson</td>
      <td>mail@mattdetails.com</td>
    </tr>
    <tr>
      <td class="check"><input type="checkbox" /></td>
      <td class="name">Matt Johnson</td>
      <td>mail@mattdetails.com</td>
    </tr>
    <tr>
      <td class="check"><input type="checkbox" /></td>
      <td class="name">Matt Johnson</td>
      <td>mail@mattdetails.com</td>
    </tr>
    <tr>
      <td class="check"><input type="checkbox" /></td>
      <td class="name">Matt Johnson</td>
      <td>mail@mattdetails.com</td>
    </tr>
    <tr>
      <td class="check"><input type="checkbox" /></td>
      <td class="name">Matt Johnson</td>
      <td>mail@mattdetails.com</td>
    </tr>
    <tr>
      <td class="check"><input type="checkbox" /></td>
      <td class="name">Matt Johnson</td>
      <td>mail@mattdetails.com</td>
    </tr>
    <tr>
      <td class="check"><input type="checkbox" /></td>
      <td class="name">Matt Johnson</td>
      <td>mail@mattdetails.com</td>
    </tr>
    <tr>
      <td class="check"><input type="checkbox" /></td>
      <td class="name">Matt Johnson</td>
      <td>mail@mattdetails.com</td>
    </tr>
    <tr>
      <td class="check"><input type="checkbox" /></td>
      <td class="name">Matt Johnson</td>
      <td>mail@mattdetails.com</td>
    </tr>
    <tr>
      <td class="check"><input type="checkbox" /></td>
      <td class="name">Matt Johnson</td>
      <td>mail@mattdetails.com</td>
    </tr>
    <tr>
      <td class="check"><input type="checkbox" /></td>
      <td class="name">Matt Johnson</td>
      <td>mail@mattdetails.com</td>
    </tr>
    <tr>
      <td class="check"><input type="checkbox" /></td>
      <td class="name">Matt Johnson</td>
      <td>mail@mattdetails.com</td>
    </tr>
    <tr>
      <td class="check"><input type="checkbox" /></td>
      <td class="name">Matt Johnson</td>
      <td>mail@mattdetails.com</td>
    </tr>
    <tr>
      <td class="check"><input type="checkbox" /></td>
      <td class="name">Matt Johnson</td>
      <td>mail@mattdetails.com</td>
    </tr>
    <tr>
      <td class="check"><input type="checkbox" /></td>
      <td class="name">Matt Johnson</td>
      <td>mail@mattdetails.com</td>
    </tr>
    <tr>
      <td class="check"><input type="checkbox" /></td>
      <td class="name">Matt Johnson</td>
      <td>mail@mattdetails.com</td>
    </tr>
    <tr id="last">
      <td class="check"><input type="checkbox" /></td>
      <td class="name">Matt Johnson</td>
      <td>mail@mattdetails.com</td>
    </tr>
  </table>
  <a id="delete_checked" href="" style="float:left; margin: 10px 0 0 0;" class="btn">Delete Checked</a>
</div><!-- // maincol -->