<div id="maincol">
  <h1>Settings</h1>
  <div id="account_info">
    <h2>Account Info</h2>
    <input type="text" value="First Name" />
    <input type="text" value="Last Name" />
    <input type="text" value="Email" />
    <input type="text" value="Password" />
    <input type="text" value="Confirm Password" />
    <select>
      <option>(GMT -06:00) Central Time</option>
    </select>
  </div><!-- // account_info -->
    
</div><!-- // maincol -->