body#manage #maincol {
	width: 100%;
}

body#manage #maincol table {
	width: 97%;
	border: 1px #DDD solid;
	margin: 0 20px 20px 20px;
}

body#manage #maincol table tr td {
	border-bottom: 1px #DDD solid;
	padding: 10px;
}

body#manage #maincol table tr td.check {
	width: 1%;
}

body#manage #maincol table tr td.name {
	border-right: 1px #DDD solid;
	font-weight: bold;
	color: #333;
	width: 30%;
}

body#manage #maincol table tr#last td {
	border-bottom: 0;
}

body#manage #maincol a#import_contacts {
	float: right;
	margin: 10px 20px 10px 20px;
}